@import 'foundation/colors';

.ib-close-button-colors {
  color: $close-button-color;
  text-shadow: 0 1px 0 $close-button-shadow-color;
}
.ib-next-button-colors {
  color: $next-button-color;
}
.ib-back-button-colors {
  color: $back-button-color;
}
