closeable-panel {
  display: flex;

  > .ib-closeable-panel-content {
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: auto 20px;
    grid-template-rows: 20px 1fr;
    grid-template-areas:
      "header close"
      "body body";
    grid-gap: 10px 5px;
    place-content: stretch stretch;
    margin-top: 5px;
    border-radius: 5px;
    padding: 0 4px 4px 4px;

    > .ib-closeable-panel-header {
      grid-area: header;
      padding: 5px;
    }

    > close-button {
      grid-area: close;
      justify-self: center;
      padding-top: 2px;
    }

    > .ib-closeable-panel-body {
      overflow-x: hidden;
      overflow-y: auto;
      grid-area: body;
      padding: 5px;
    }
  }

  > .ib-closeable-panel-content.ib-closed {
    display: none;
  }

}
