collapsible-panel {
  display: flex;
  flex-direction: column;
  padding: 5px;

  .collapsible-panel-caption {
    display: block;
    flex: 0 0 auto;
    margin-bottom: 5px;
    cursor: pointer;
    transition: all 0.20s ease-out;
  }
  .collapsible-panel-caption::before {
    content: ' ';
    display: inline-block;
    margin-top: 2px;
    margin-bottom: 3px;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;

    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);

    transition: transform .2s ease-out;
  }
  .collapsible-panel-body {
    flex: 1 1 auto;
    display: none;
  }

  .open {
    .collapsible-panel-caption::before {
      transform: rotate(90deg) translateX(-3px);
    }
    .collapsible-panel-body {
      display: block;
    }
  }
}
