drag-and-drop-panel {
  display: flex;

  > .drag-and-drop-panel-content {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;

    > .drag-and-drop-cont {
      cursor: move;
    }
  }
  > .drag-and-drop-panel-content.vertical {
    flex-direction: column;
  }

}
