overlap-panel {

  > .ib-overlap-panel-content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    place-content: stretch stretch;

    > .ib-overlap-panel-main {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      z-index: 100;
      margin-top: 5px;
    }

    > .ib-overlap-panel-overlay {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      z-index: 150;
    }

    > .ib-overlap-panel-dialog {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      z-index: 200;
    }
  }
}
