@import 'foundation/colors';

.panel-body-colors {
  background-color: $panel-body-background-color;
  color: $panel-body-color;
}
.panel-header-colors {
  background-color: $panel-header-background-color;
  color: $panel-header-color;
}
.panel-overlay-colors {
  background-color: $panel-overlay-background-color;
}
.panel-borders {
  border: 1px solid $panel-header-background-color;
}
