@import 'foundation/colors';

.ib-panel-body-colors {
  background: $panel-body-background;
  color: $panel-body-color;
}
.ib-panel-header-colors {
  background: $panel-header-background;
  color: $panel-header-color;
}
.ib-panel-overlay-colors {
  background: $panel-overlay-background;
}
.ib-panel-shadow {
  box-shadow: 0 12px 20px -10px $panel-shadow-color-1,
    0 4px 20px 0px $panel-shadow-color-2,
    0 7px 8px -5px $panel-shadow-color-3;
}
