tree-panel {
  display: block;
}

tree-node {
  .ib-tree-node-header {
    display: flex;
    flex-direction: row;

    .ib-tree-node-handler,
    .ib-tree-node-dummy-handler {
      flex: 0 0 17px;
    }
    .ib-tree-node-handler::before {
      content: ' ';
      display: inline-block;
      margin-top: 2px;
      margin-bottom: 3px;

      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid currentColor;

      vertical-align: middle;
      margin-right: .7rem;
      transform: translateY(-2px);

      transition: transform .2s ease-out;
    }

    .ib-tree-node-selector {
      flex: 0 0 auto;
    }

    .ib-tree-node-content {
      flex: 1 1 auto;

      .ib-tree-node-subtitle {
        margin-left: 10px;
      }
    }
  }
  .ib-tree-node-header.clicked {
    background-color: lightyellow;
  }
  .ib-open {
    .ib-tree-node-handler::before {
      transform: rotate(90deg) translateX(-3px);
    }
  }
  .ib-unselected {
    .ib-tree-node-content > * {
      color: #888888;
    }
  }
  .ib-nonclickable {
    .ib-tree-node-content {
      text-decoration: none;
      color: inherit;
    }
  }
}
